
.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.recommended-friends_title{
    font-weight: 600;
    font-size: 14px;
    color:  rgba(0, 0, 0, 0.5);
}
.open-chats_header{
    display: flex;
    justify-content: space-between;
    color:  rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post_title{
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 23px;
}
.open-post_hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post_menbers{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.open-post_menbers img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post_menbers-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post_menbers-divider{
    background-color: rgba(0, 0, 0, 0.7);
    width: 1px;
    height: 15px;
    margin: 0px 5px;
}
.open-post_menbers-status{
    color: #ffb0c0;
}
.open-post_column-photo{
    position: relative;
}
.open-post_column-photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post_heart-count{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
.open-post_heart-count span{
    margin-left:  5px;
}