* {
  box-sizing: border-box;
}
@keyframes musicstart {
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-music-meinbox {
    display: flex;
    justify-content: space-around;
}

/*musiclist*/

.musiclist-mainbox {
  background-color: white;
  height: 100%;
  width: 350px;
  border-radius: 15px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-state {
padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}
.top-state2 {
    width: 350px;
    padding: 30px 20px;
      display: flex;
      justify-content: space-between;
    }
.musiclist-subbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.musicpicture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}
.music-titel {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}
.genre {
  margin: 10px 0px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.musiclist-subbox_btns {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.shuffle {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0px 10px;
}
.Like {
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
  margin: 0px 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
.fa-heart{color: black;}
.musiclist-listbox {
  align-items: center;
}
.musiclist-listbox_anothermusic-list {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  border-radius: 15px;
  padding: 10px;
}
.musiclist-listbox_anothermusic-list:hover {
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
}
.musicpicture:hover{
    transition: 1s ease-in;
    background-color: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
}
.shuffle:hover{
    transition: 0.3s ease-in;
    color: black;
    border: 1px solid black;
    background-color: white;
}

.musiclist-listbox_anothermusic-artistpiture {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}
.musiclist-listbox_anothermusic-discribe {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 60px;
}
.musiclist-listbox_anothermusic-title {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.musiclist-listbox_anothermusic-songname {
  font-size: 15px;
  font-weight: 600;
}
.palyer-box {
  display: flex;
  background-color: black;
  color: white;
  height: 60px;
  width: 280px;
  border-radius: 30px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}
.palyer-box_title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.palyer-box_title-artistname {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  margin-bottom: 7px;
  margin-right: 70px;
}
.fa-pause{
    margin: 0px 10px;
}
.palyer-box_title-songname {
  font-size: 12px;
  font-weight: 600;
}
/*music-infomation*/
.music-infomationbox {
  background-color: white;
  height: 100%;
  width: 350px;
  border-radius: 10px;
}
.song-main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.song-main_title-piture{
    width: 280px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 20px 10px 5px rgba(216, 76, 76, 0.3);
}
.song-main_name{
    font-size: 30px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 20px;
}
.song-main_artist{
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}
.song_long{
    margin: 40px 30px;
}
.song_time{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}
.song_langth{
    display: flex;
    align-items: center;
    justify-content: center;
}
.song_langth-start{
    margin-top: 10px;
    height: 5px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    left: 5px;
}
.song_langth-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 5px;
}
.song_langth-end{
    margin-top: 10px;
    height: 5px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: static;
    right: 15px;
}
.song_divice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    margin: 50px;
}
.fa-sync-alt{
    color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}
.fa-random{
    color: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}