@keyframes menu-up{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 10;
    }
}

@keyframes hover{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes hover2{
    from{

    }   
    to{
        background-color: black;
    }
}
@keyframes arrow-move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}